

#selection-card {
    height: 30vh;
}

.data-element {
    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;
}
.data-element:hover {
    opacity: 1;
}

.bar {
    stroke: #000;
    stroke-width: 1px;

    /* transform: translateY(1px); */
}

#tooltip {
    position: absolute;
    z-index: 1000;

    padding: 0.1rem 0.5rem;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.5rem;
}
